Customer_Support.json
{
  "name": "Customer Support",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "id": "2e700d3c-9163-46e6-90f4-37278fed3deb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YakJeKL9TQzbn0wW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "This email is from a customer or user who is asking for help, has a concern, or needs clarification about our products, services, terms, or policies. Examples:  “What is your return policy?”  “I’m having issues with logging in.”  “Can you clarify how my data is used?”"
            },
            {
              "category": "Other",
              "description": "This email is not related to customer help or support. It may be general feedback, marketing, partnerships, or unrelated questions. Examples:  “We’d like to collaborate on a blog post.”  “Are you open to investment?”  “Do you accept guest posts?”"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        220,
        300
      ],
      "id": "85ff5fbd-da52-464d-8535-e0eab61dac30",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        308,
        520
      ],
      "id": "0b276ffc-97b6-4f19-b448-1583d70f0fb8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZCSsF0J9i5U03n2E",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        734,
        500
      ],
      "id": "9c34c3b2-e1b3-455c-ac23-5ec5b34e170a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a customer support agent for Tech. Your job is to respond to incoming emails with relevant information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Mr. Helpful from Tech Solutions\n\n## Output\n- Output only the body content of the email\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        612,
        -100
      ],
      "id": "1b2bb131-6f66-481f-acfd-df163b91bab6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        596,
        120
      ],
      "id": "0c78d5e2-9c90-40de-8553-d1ef038c32ed",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZCSsF0J9i5U03n2E",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgeBase",
        "toolDescription": "Call this tool to access Policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        716,
        122.5
      ],
      "id": "701c6cbe-b81d-4d30-b558-75d2f379724a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "L7XpZih1NkN3TNOW",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1092,
        100
      ],
      "id": "0268764a-d60f-4540-be90-daebe01f6326",
      "name": "Gmail",
      "webhookId": "3549b122-009e-4a1e-8f0d-f438d7ca82f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "YakJeKL9TQzbn0wW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-exp-03-07"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        804,
        320
      ],
      "id": "27c0531d-7dfb-4bc9-ac09-701c753ac108",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "x54M0HZ0gOgE6eax",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45a3ba9c-2d77-4777-8445-380707120f2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb36659592bb4f71788da3348cf7c19ba80b493f92df7b6b565903a79b7c9287"
  },
  "id": "WDEUP2o4cam0qXKH",
  "tags": []
}